<div class="score-container">
<span class="score"> Score: 0 </span>
</div>
<ul class="game-list">
  {{#each statements}}
  <li class="list-items">
    <span class="author">{{author}}</span>
    <span class="statement">"{{statement}}"</span>

    <button class="button-true">True</button>
    <button class="button-false">False</button>
    <section class="answer">{{answer}} </section>
  </li>
  {{/each}}
</ul>
