<section class="main__container">
  <h2>About<h2>
  <p>Welcome to FACts! A place to get to know each other & share some surpising facts about yourself! </p>
  <p>Click add to submit a fun fact</p>
      <a href="/statement">Add</a>
  <p>Click play to see how well you know your fellow FACers</p>
      <a href="/game">Play</a>
</section>
