<section class="main__container">

  <!-- <h2>About<h2> -->
  <p id="about">Welcome to FACts: a place to get to know each other & share some surprising facts about ourselves!</p>
  <div id="buttons">
    <div class="buttons-subcategory">
    <p>Click to submit a fun fact:</p>
        <a href="/statement">Add</a>
      </div>
      <div class="buttons-subcategory">
    <p>Click to test your knowledge:</p>
        <a href="/game">Play</a>
      </div>
  </div>
</section>
