<form action="/submit_statement">
  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="username">

  <label for="statement">Bold Statement</label>
  <input id="statement" type="text" name="statement" placeholder="Write a bold statement">

  <label for="boolean">True or False</label>
  <input id="boolean" type="checkbox" name="boolean" value="true">

  <input type="submit" value="submit">
</form>