<form action="/submit_statement" method="post">
  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="username" maxlength="30" required>

  <label for="statement">Bold Statement</label>
  <input id="statement" type="text" name="statement" placeholder="Write a bold statement" maxlength="280"required>
  <input id="true-radio" aria-label="check this box if your statement is true" type="radio" name="boolean" value="true" required>True
  <input id="false-radio" aria-label="check this box if your statement is false" type="radio" name="boolean" value="false">False

  <input id="submit" type="submit" value="submit">
</form>
