<form action="/submit_statement" method="post">
  <label for="name" class="form__field">Name</label>
  <input id="name" type="text" name="name" placeholder="username" class="input__field">

  <label for="statement" class="form__field">Bold Statement</label>
  <input id="statement" type="text" name="statement" placeholder="Write a bold statement" class="input__field">

  <label for="boolean" class="form__field">Is this statement TRUE?</label>
  <input id="boolean" type="checkbox" name="boolean" value="true" class="button-true">

  <input type="submit" value="submit">
</form>
