<!DOCTYPE html>
<html>
 <head>
  <title>Country statistics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Abel|VT323&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="/css/style.css">
  <!-- //web font -->
</head>
 <body>

  {{> header}}

  <main class="main">
    {{{body}}}
  </main>

  {{> footer}}

</body>
</html>
