<!DOCTYPE html>
<html>

<head>
  <title>Country statistics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Abel|VT323&display=swap" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <!-- //web font -->
</head>

 <body>
   {{> backgroundy}}
  {{> header}}

  <main class="main">
    {{{body}}}
  </main>

  {{> footer}}

</body>
<script src="/js/dom.js"></script>

</html>
